.login{
  font-size:25px;
   
}

.flex-container{
  display: -webkit-flex;
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.flex-item{
  width:100%;
  height:75px;
  font-size:30px;
  margin: 10px;
}

